<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index-style.css'/>
  </head>

  <body>

    <div id='titleWrap'>
      <h1>Welcome to <%= title %></h1>

      <!--sign up button-->
      <input id="signUpButton" type="button" value="Sign Up">
      <!--sign in button-->
      <input id="signInButton" type="button" value="Sign In">

    </div>
  </body>
  <script>
    var signUp = document.getElementById('signUpButton');
    var signIn = document.getElementById('signInButton');

    signUp.addEventListener('click',function({
      
    }))
  </script>
</html>



