<!DOCTYPE html>
<html>
  <%- include headIncludes.ejs %>
  <body>

  	<div id="wrapper">

       <%- include sidebarInclude.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                            
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
 	
  </body>
</html>
