<!DOCTYPE html>
<html lang="en">

<%- include headIncludes.ejs %>

<body>

    <div id="wrapper">

       <%- include sidebarInclude.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <% if(username == "admin"){ %>

                            
                            <button id="enter-btn">Add Question</button>

                            <form id="createSurveyForm" action="/createSurvey" method="post" >

                                <script>var numberOfQuestions=0;</script>  
                                

                                <button type ="submit">Submit</button>
                            </form>


                      <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%- include jsIncludes.ejs %>
    <script src="/jquery/jquery.js"></script>
    <script>
        var numOfQ = 0;

        $('#createSurveyForm').submit(function(eventObj){
               $('<input />').attr('type','hidden')
               .attr('name','total_num_questions')
               .attr('value',numOfQ)
               .appendTo('#createSurveyForm');

        });

        
        var enterButton = document.getElementById('enter-btn');
        enterButton.addEventListener('click',function(){
            /*alert(numberOfQuestions);*/
            numOfQ++;
            createEntry(numOfQ);

        });

        
        function createEntry(numOfQ){
            

                /*get form and add div*/
                var form =  document.getElementById('createSurveyForm');
                var form_group_div = document.createElement('div');
                form_group_div.setAttribute('class','form-group');
                form.appendChild(form_group_div);

                /*create label*/
                var label = document.createElement('label');
                label.setAttribute('for','question'+numOfQ.toString()+'input');
                var labelText = document.createTextNode('Question ' + numOfQ.toString());
                label.appendChild(labelText);
                /*form_group_div.appendChild(label);*/

                /*create text field for question input*/
                var questionTextField = document.createElement('input');
                questionTextField.setAttribute('required','');
                questionTextField.setAttribute('type','text');
                questionTextField.setAttribute('class','form-control');
                questionTextField.setAttribute('name','question'+ numOfQ.toString());

                form_group_div.appendChild(label);
                form_group_div.appendChild(questionTextField);
                

                for(var j=0;j<4;j++){

                    /*set up label*/
                    var answerNum = j+1;
                    var ans_label = document.createElement('label');
                    ans_label.setAttribute('for','answerCh'+answerNum.toString());
                    ans_label.setAttribute('class','form-control');
                    var labelText = document.createTextNode('Answer ' + answerNum.toString());
                    ans_label.appendChild(labelText);

                    /*set up text field*/
                    var answerTextField = document.createElement('input');
                    answerTextField.setAttribute('required','');
                    answerTextField.setAttribute('type','text');
                    answerTextField.setAttribute('class','form-control');
                    answerTextField.setAttribute('name','answer'+ answerNum.toString()+'Question' + numOfQ.toString());


                    /*append to document*/
                    form_group_div.appendChild(ans_label);
                    form_group_div.appendChild(answerTextField);

                }    
            }

    </script>
    
</body>

</html>
