<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/signUp-style.css' />
  </head>
  <body>
  <input type="submit" value="Submit"/>
  </body>
</html>
