<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<link rel='stylesheet' href='signUpStyle.css'/>
	</head>

	<body>

		<div id='titleWrap'>
			<h1>Welcome to Online Mentoring!</h1>

		
			<!--sign up button-->
			<input id="signUpButton" type="button" value="Sign Up">
			<!--sign in button-->
			<input id="signInButton" type="button" value="Sign In">

		</div>
	</body>
	<script>
		var signUp = document.getElementById('signUpButton');
		var signIn = document.getElementById('signInButton');

		signUp.addEventListener('click',function({
			
		}))
	</script>
</html>



