<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<link rel='stylesheet' href='signUpStyle.css'/>
	</head>

	<body>

		<div id='titleWrap'>
			<h1>Welcome to Online Mentoring!</h1>

		
			<!--sign up button-->
			<input type="button" value="Sign Up" id="signUpButton" >
			<!--sign in button-->
			<input type="button" value="Sign In" id="signInButton">


			<div id="signUp/In"></div>

		</div>
	</body>
	<script src="generateForm"></script>
	<script>


		function createForm(){

			var f = document.createElement('form');
			f.setAttribute('method','post');

			var u = document.createElement('input');
			u.setAttribute('type','text');
			u.setAttribute('name','userName');

			var p = document.createElement('input');
			p.setAttribute('type','text');
			p.setAttribute('name','password');

			f.appendChild(u);
			f.appendChild(p);

			document.getElementById('signUp/In').appendChild(f);
		}

		var signUp = document.getElementById('signUpButton');
		signUp.addEventListener('click',function(){
			createForm();
		})
		var signIn = document.getElementById('signInButton');
		signIn.addEventListener('click',function(){
			createForm();
		})

	</script>	
</html>



