body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:pink;
}


#form{
	border: solid black 2px;
	width:50%;
	border-radius: 1em;
	background-color:lightgray;
}